.block {
  text-align: left;
  max-width: 450px;
  height: 120px;
  margin-bottom: 35px;
  border: #888888 1px solid;
  padding: 0 25px;

  h3 {
    color: #888888;
    text-transform: uppercase;
  }
}